.center
{
    text-align: center;   
}
.login-panel
{
    background-color:#6FA4BD;
    padding: 3rem;
    margin:auto;
    border-radius: 5px;
    margin-top:5%;
}

body
{
    
    background-repeat: no-repeat;
    background-size: cover;

}

th
{
    text-align: center;
}

label
{
    color:white;   
    padding:10px; 
}

.title
{
    color:white;
    margin-bottom:4rem;
    margin-top:5%;
}

.text-white
{
    color:white;
}

.text-black
{
    color:black;
}
.error-msg
{
    color:red;
    font-size: 1.5rem;
}

span a 
{
    color:black;
}


span a:hover
{
    color:black;
    /* color:rgba(97, 147, 255, 0.2); */
}